# Python scripts manage code and automate tests.
# We avoid shell scripts because they are platform-dependent.
# You can run the automation scripts with
# `uv run automate [command_type]`.

[dependency-groups]
dev = ["ruff", "pyright"]

[tool.uv.workspace]
members = ["automate", "documentation"]

[tool.ruff.lint]
select = ["ALL"]
ignore = ["TC", "BLE", "S602"]

[tool.pyright]
typeCheckingMode = "strict"

[tool.ruff.lint.per-file-ignores]
"documentation/**/*.py" = ["A001"]
