name: formatting-test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  # Cancels the workflow
  # when another event in the same context happens.
  # If it's a PR, context is the pull request number.
  # Otherwise, it uses the Git reference(branch or tag name).
  group: >
    ${{ github.workflow }}
    ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  dart:
    name: dart-and-rust-code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Setup Protobuf compiler
        uses: arduino/setup-protoc@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install shorthand CLI tool
        working-directory: shorthand/
        run: cargo install --path ./

      - name: Install Clippy
        run: rustup component add clippy

      - name: Fetch Flutter dependencies
        working-directory: example/
        run: flutter pub get

      - name: Generate message files
        working-directory: example/
        run: rifs message

      - name: Format Dart code
        run: dart format .

      - name: Format Rust code
        run: |
          cargo fmt
          cargo clippy --fix --allow-dirty

      - name: Check if the code has changed
        run: |
          git diff --exit-code

  config:
    name: configuration-files
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Check files with Prettier
        uses: creyD/prettier_action@v4.3
        with:
          dry: True
          prettier_options: >
            --write
            ./**/*.{md,yaml}
