# Verify that the app build works as intended
# when utilizing the code inside the repository.
name: Test App

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

concurrency:
  # Cancels the workflow
  # when another event in the same context happens.
  # If it's a PR, context is the pull request number.
  # Otherwise, it uses the Git reference(branch or tag name).
  group: >
    ${{ github.workflow }}
    ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.runner }} / ${{ matrix.target }}
    runs-on: ${{ matrix.runner }}-latest
    strategy:
      fail-fast: false # Important
      matrix:
        runner: [ubuntu, windows, macos]
        target: [android, web] # On all platforms
        include:
          # Specify targets for each platform
          - runner: ubuntu
            target: linux
          - runner: windows
            target: windows
          - runner: macos
            target: macos
          - runner: macos
            target: ios

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            target
            ~/.pub-cache
          key: >
            ${{ matrix.runner }}-${{ matrix.target }}
            ${{ hashFiles('**/Cargo.toml', '**/pubspec.yaml') }}
          restore-keys: |
            ${{ matrix.runner }}-${{ matrix.target }}
            ${{ matrix.runner }}

      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.0"

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@1.100
        with:
          components: rustfmt

      - name: Setup Ninja and GTK3 toolchain (Only Linux target)
        if: matrix.target == 'linux'
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev

      - name: Setup Java toolchain (Only Android target)
        if: matrix.target == 'android'
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Install the Python environment manager
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false

      - name: Install the CLI tool
        run: cargo install --path rust_crate_cli

      - name: Prepare a Flutter app for testing
        run: uv run automate prepare-test-app

      - name: Build the example app
        if: matrix.target == 'linux'
        working-directory: test_app/
        run: flutter build linux --verbose

      - name: Build the example app
        if: matrix.target == 'android'
        working-directory: test_app/
        run: |
          flutter build apk --verbose
          flutter build appbundle --verbose

      - name: Build the example app
        if: matrix.target == 'windows'
        working-directory: test_app/
        run: flutter build windows --verbose

      - name: Build the example app
        if: matrix.target == 'macos'
        working-directory: test_app/
        run: flutter build macos --verbose

      - name: Build the example app
        if: matrix.target == 'ios'
        working-directory: test_app/
        run: flutter build ios --verbose --no-codesign

      - name: Build the example app
        if: matrix.target == 'web'
        working-directory: test_app/
        run: |
          rinf wasm --release
          flutter build web --verbose
